$main_font: 'Roboto', sans-serif;
$logo_font: 'Raleway', sans-serif;

$grey_background: #f0f0f0;
$main_text_color: #797979;
$main_red: #ff3720;
$red_dark: #e42b15;

$big_break: 1000px;
$small_break: 700px;